USE [master]
GO
/****** Object:  Database [workshopdb]    Script Date: 09.10.2022 13:15:02 ******/
CREATE DATABASE [workshopdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'workshopdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\workshopdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'workshopdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\workshopdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [workshopdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [workshopdb]
GO
/****** Object:  Table [dbo].[BUYER]    Script Date: 09.10.2022 13:15:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUYER](
	[buyer_id]  [int] IDENTITY(1,1) NOT NULL,
	[buyer_mail] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[buyer_id]  ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS]    Script Date: 09.10.2022 13:15:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS](
	[goods_id] [int] IDENTITY(1,1) NOT NULL,
	[goods_name] [varchar](50) NOT NULL,
	[goods_price_onepiece] [int] NOT NULL,
	[goods_quentity] [int] NOT NULL,
	[goods_code] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[goods_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SELL]    Script Date: 09.10.2022 13:15:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SELL](
	[sell_id] [int] IDENTITY(1,1) NOT NULL,
	[sell_quentity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sell_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOP]    Script Date: 09.10.2022 13:15:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOP](
	[shop_id] [int] IDENTITY(1,1) NOT NULL,
	[shop_name] [varchar](20) NOT NULL,
	[shop_adress] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[shop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
